modules (
	SumChannels ( enabled false )
	BaselineFinder ( enabled true
		       	 flat_baseline false
			 pulse_start_time -0.45
			 pulse_edge_add 3
			 min_baseline 3850
			 max_baseline 4030
			 pulse_start_inc 5
			 pulse_end_inc 4
			 moving_window_nsamps 40
			 max_flat_nsamps 10
		       )
	Integrator ( enabled true 
		     threshold 0. 
		   )
	EvalRois ( enabled false 
		   skip_channels ( 1 2 3 4 5 6 7 )
		   max_peak_time 0.2
	           regions [ 
		    ( -0.05 , 7 )    # full window
#		    ( -0.05 , 0.1 )  # fprompt	
#		    ( -0.05 , 4 )  # for average waveform
                   ]
		 )
        SpeFinder ( enabled false
		    skip_channels ( 7 ) 
		    search_start_time 3
		    search_end_time 10
		    pulse_edge_add 3
		    threshold_nsigmas -3
		    min_baseline_length 0.06
		  ) 
        PulseFinder ( enabled true
		      search_start_time -1.8
		      search_end_time 6
		      search_mode DISCRIMINATOR
		      discriminator_relative true
		      use_baseline_sigma true
		      discriminator_nsigma 4
		      discriminator_value -5
		      discriminator_start_add 5
		      discriminator_end_add 5
		    )
	TOF ( 
	      enabled true
    	      neutron_start_time -0.1
    	      pulse_length_us 4
    	      ref_ch 7
    	      ref_ch_offset 0.3
    	      search_end_time 0.1
    	      signal_ch 0
    	      signal_start_time -0.35 #-0.1
    	      )

	PSD ( enabled true
	    skip_channels ( 7 )
	    fparameter_times [ 0.05 , 0.07 , 0.1 , 0.15 , 0.2 , 0.5 , 1 , 2 ]
	    #make sure tparameter_ratios are in increasing order
	    tparameter_ratios [ 0.1 , 0.9 ]
	    calculate_gatti true
	    wfm_file "cuts/PSD_pe100_150_Run60_3_starttime_smooth.root"
	    gatti_channels ( 0 )
	    start_time_us 0.032
	    end_time_us 1.5
	    bin_width_us 0.016
	)

        AverageWaveforms ( enabled false
			   skip_channels ( 1 2 3 4 5 6 7 )
			   aver_time_hr 10
			   ref_roi_index 0
                           pre_trigger_time 0.4
#                           min_pulse_height 0
#                           max_pulse_height 6000
                           min_npe 2418 #10942 #43877
                           max_npe 3385 #17507 #87754 #13163.1
			   ref_fp_index 0
                           min_fprompt 0
                           max_fprompt 0.4
			   min_tof 0.652 #0.605
			   max_tof 0.665 #0.612
                         )

       RootWriter ( enabled true 
		     directory output/aver/starttime
		     )
)